body {
  display: block;
  font-family: Helvetica, sans-serif;
  background-color: rgb(205, 251, 251);
  padding: 10px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #272142;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
  color: #a9a7b3;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
img {
  position: relative;
  top: -20px;
  margin-left: 10px;
  line-height: 1;
}

strong {
  color: #f76590;
  font-weight: normal;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.weather-app {
  border-radius: 16px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  margin-bottom: 10px;
}

.weather-app .search-input {
  border: 1px solid #a9a7b3;
  font-size: 14px;
}

.weather-app .btn {
  background: rgb(2, 161, 161);
  font-weight: 400;
  font-size: 14px;
  border: 1px solid rgb(2, 161, 161);
  height: 34px;
  width: 100%;
}

.weather-temp .temp {
  color: #272142;
  font-weight: 700;
  font-size: 85px;
  line-height: 1;
}

.weather-temp .units {
  color: #272142;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -42px;
}

.weather-temp .active {
  color: #272142;
  cursor: default;
  text-decoration: none;
}

.weather-temp .active:hover {
  text-decoration: none;
}
