body {
  display: block;
  background-color: rgb(205, 251, 251);
  font-family: Helvetica, sans-serif;
  padding: 10px;
}

h1 {
  color: #272142;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
}

li {
  color: #a9a7b3;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
  line-height: 20px;
}

strong {
  color: #f76590;
  font-weight: normal;
}

small {
  color: #272142;
}

.weather-app-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.weather-app {
  border: 0.2px solid rgb(2, 161, 161);
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  margin-bottom: 10px;
  padding: 20px;
}

.weather-app .form-control {
  border: 1px solid #a9a7b3;
  font-size: 14px;
  height: 34px;
}

.weather-app .btn {
  background: rgb(2, 161, 161);
  border: 1px solid rgb(2, 161, 161);
  font-weight: 400;
  font-size: 14px;
  height: 34px;
  width: 100%;
}

.weather-img {
  color: #f76590;
  font-size: 86px;
  line-height: 1;
  padding-right: 5px;
  position: relative;
  top: 6px;
}

.weather-temp {
  padding: 10px;
}

.weather-temp .temp {
  color: #272142;
  font-weight: 700;
  font-size: 86px;
  line-height: 1;
}

.weather-temp .units {
  color: #272142;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding-left: 5px;
  position: relative;
  top: -42px;
}

.weather-temp .active {
  color: #272142;
  cursor: default;
  text-decoration: none;
}

.weather-temp .active:hover {
  text-decoration: none;
}

.weather-forecast {
  font-size: 16px;
  text-align: center;
}

.weather-forecast-date {
  color: #272142;
  margin-top: 40px;
  text-align: center;
}

.weather-forecast-img {
  color: #f76590;
  font-size: 46px;
  padding: 10px;
}

.weather-forecast-temp-day {
  color: #272142;
  font-weight: bold;
}

.weather-forecast-temp-night {
  color: #272142;
  opacity: 0.5;
}

@media (max-width: 414px) {
  form {
    font-size: 10px;
    height: 10px;
    width: fit-content;
  }

  .weather-app .btn {
    width: fit-content;
  }

  .weather-img {
    display: none;
  }

  .weather-temp .temp {
    color: #272142;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    justify-content: center;
  }

  .weather-temp .units {
    display: flex;
    justify-content: space-around;
    top: 20px;
  }

  .weather-forecast-img {
    font-size: 30px;
    padding: 0px;
  }
}
